/node_modules/*
/dist/*
package-lock.json
logs/all.log
logs/error.log
.env
scaffold.js
/docker/kafka-connect-jdbc/*
docker/kafka-connect-jdbc.tar
/docker/debezium-jdbc-es/kafka-connect-jdbc/*
docker/app.tar
docker/vinomio.event
docker/postgres-data
docker/logs/*.log
.DS_Store