/node_modules/*
/dist/*
package-lock.json
logs/all.log
logs/error.log
.env
scaffold.js
/docker/kafka-connect-jdbc/*
docker/kafka-connect-jdbc.tar
/docker/debezium-jdbc-es/kafka-connect-jdbc/*
docker/app.tar
docker/vinomio.event
docker/postgres-data
docker/logs/*.log
.DS_Store
docker/init-letsencrypt.sh
docker/data/certs/SSLcertificate.crt
docker/data/certs/SSLprivatekey.key
app/SSLcertificate.crt
app/SSLprivatekey.key
SSLcertificate.crt
SSLprivatekey.key
cert.pem
key.pem
docker/postgres-backup.*.sql
docker/postgres-data.tar
